
<form action="" method="post" id="frm"><br><br>
    <h1> <b>
            <%= Commenthead %>
        </b></h1>
    <div class="form-group">
        <label for="exampleFormControlInput1">Title</label><br>
        <input type="text" name="commenttitle" class="form-control" id="exampleFormControlInput1" autocomplete="off">
    </div><br>
    <div class="form-groups">
        <label for="exampleFormControlTextarea1">Comment</label><br>
        <textarea class="form-control" name="commentcontent" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div><br>
    <button type="submit" name="submit"  class="btn btn-primary btns">Publish</button>
</form>